{% extends 'ApplicationDevBundle::layout.html.twig' %}

{% block title %}
Home | {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Beta</h1>
    <div class="row-fluid">
        <div class="row-fluid product-grid">
            {% for product in products %}
                {% include('ApplicationDevBundle:Product:grid-item.html.twig') %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

