{% extends 'ApplicationDevBundle::layout.html.twig' %}

{% block title %}
Home | {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span9 product-grid">
                {% for product in products %}
                    {% include('ApplicationDevBundle:Product:grid-item.html.twig') %}
                {% endfor %}
            </div>
            <div class="span1">
                <h3>Latest photo's</h3>
                <ul>
                    <li>Photo 1</li>
                    <li>Photo 2</li>
                    <li>Photo 3</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

