<div class="product">
    <h3>{{ product.name }}</h3>
    {% if product.getFirstImage() %}
        <img src="{{ product.getFirstImage().getWebPath() | apply_filter('grid_medium') }}" alt="" />
    {% else %}
        <img src="{{ asset('images/missing-image.png') }}" />
    {% endif %}
    <div class="actions clearfix">
        <a class="btn" href="{{ path('vespolina_cart_add_product', {'productId': product.id}) }}">Add to Cart</a>
    </div>
</div>