{% extends 'ApplicationDevBundle::layout.html.twig' %}

{% block content %}
    <h1>Product list</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Created At</th>
            </tr>
        </thead>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.slug }}</td>
                <td>{{ product.createdAt.format('Y-m-d H:i') }}</td>
                <td><a href="{{ path('application_dev_admin_edit', { 'productId' : product.id }) }}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}